<div class="notification">
    Attempts from {{start_date}} up till {{end_date}}.
    {% if select_years %}
        <div>
            <a class="button mt-2 mr-2" href="/exam_dossier">All time</a>
            {% for year in select_years %} 
                <a class="button mt-2 mr-2" href="/exam_dossier_{{year}}">{{year}}</a>
            {% endfor %}
        </div>
        {% if year %}
            <div>
                {% for quarter in [1,2,3,4] %} 
                    <a class="button mt-2 mr-2" href="/exam_dossier_{{year}}Q{{quarter}}">Q{{quarter}}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
